* {
  padding: 0;
  margin: 0; }

body {
  background: #302925;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

.labels {
  position: absolute;
  top: 0;
  left: 0; }

.location {
  fill: rgba(255, 255, 255, 0.45); }
